main {
  width: 90%;
  margin: 3rem auto 0;
}

.black-border {
  border: 2px solid lightskyblue;
  margin-top: 1rem;
}

.toolbar {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-employee {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-employees {
  width: 50%;
  height: 90%;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(34, 34, 34, 0.5);
}

.search-employees input {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  font-size: 1.3rem;
}

app-employee {
  display: block;
  width: 75%;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 0 0 5px rgba(34, 34, 34, 0.5);
}

.form-heading {
  border-top: 1px solid lightskyblue;
}

.form-heading h5 {
  text-align: center;
  background-color: white;
  width: 200px;
  transform: translateY(-50%);
}





















